@{
    ViewData["Title"] = "Home Page";
}
<div class="introduction">
    <h1 class="h1-front">
        Hi,
        <br />
        WE'RE MBEKWA ENTERPRISES
    </h1>

    <h3>We're Professional, We're Creative & We're Affordable</h3>
</div>
<div class="text-center">
    
</div>
